@import './utils/variables';
@import './utils/visually-hidden';
@import './utils/placeholders';
@import './utils/mixins';

@import './base/common';
@import './base/container';
@import './base/section';

@import './components/logo';
@import './components/mobile-menu';

@import './layout/header';
@import './layout/hero';
@import './layout/features';
@import './layout/activity';
@import './layout/our-team';
@import './layout/clients';
@import './layout/portfolio';
@import './layout/footer';
@import './layout/backdrop';
@import './layout/modal-form';