// .section__title {
//     @include font(700, 36px, 42px);
//     text-align: center;
//     letter-spacing: 0.03em;
//     color: #212121;
//     margin-bottom: 50px;
// }

// .clients {
//     display: flex;
//     justify-content: center;
// }

// .clients__link {
//     @extend %align;
//     width: 100%;
//     height: 100%;
//     border: 1px solid #afb1b8;
//     border-radius: 4px;
//     transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

// &:hover,
// &:focus {
//         border-color: var(--color-in-action);
//         }
// }

// .clients__icon {
//     fill: #afb1b8;
//     transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

//     .clients__link:hover &,
//     .clients__link:focus & {
//             fill: var(--color-in-action);
//         }
// }

// .clients__item {
//     width: 170px;
//     height: 92px;

//     &:not(:last-child) {
//             margin-right: 30px;
//         }
// }
