.footer {
    background: var(--background-darc);
    padding-top: 60px;
    padding-bottom: 60px;
}

.address__map-link {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--color-light);
}

.address__link {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--address-link);

    &:not(:last-child) {
            margin-bottom: 9px;
        }
}

.footer__container {
    display: flex;
    justify-content: space-between;
}

.footer__wrapper {
    display: flex;
    align-items: baseline;
}

.wrapper-logo-address_left {
    margin-right: 70px;
}

.wrapper-social__title {
    @include font;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 20px;
}

.wrapper-social__social-footer {
    display: flex;
    justify-content: center;
}

.social-footer__link {
    @extend %align;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.102);
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
            background-color: var(--color-in-action);
        }
}

.social-footer__icon {
    fill: var(--color-light);
}

.social-footer__item {
    width: 44px;
    height: 44px;

    &:not(:last-child) {
            margin-right: 10px;
        }
}

.subscription-form__title {
    @include font;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-light);

    margin-bottom: 20px;
}

.subscription-form__email {
    display: inline-flex;
    margin-right: 12px;
}

.subscription-form__input {
    width: 358px;
    height: 50px;
    padding: 15px 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: var(--background-darc);
    color: rgba(255, 255, 255, 0.6);
    cursor: pointer;
    outline: none;
}

.subscription-form__btn {
    @include font(700, 16px, 30px);
    color: var(--color-light);
    background: var(--color-in-action);
    cursor: pointer;

    min-width: 143px;
    padding: 10px 28px 10px 29px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
}

.subscription-form__btn-key {
    margin-right: 10px;
}

.subscription-form__btn-wrapper {
    display: flex;
    align-items: center;
}