// .page-header__container {
//     display: flex;
//     align-items: center;
// }

// .navigation {
//     display: flex;
//     align-items: center;
// }

// .navigation-list {
//     display: flex;
//     align-items: center;
// }

// .page-header__contacts {
//     display: flex;
//     align-items: center;
//     margin-left: auto;
// }

// .navigation-list__item:not(:last-child),
// .contacts__item:not(:last-child) {
//     margin-right: 50px;
// }

// .page-header {
//     background: var(--color-light);
//     border-bottom: 1px solid #ececec;
// }

// .navigation-list__link {
//     display: block;
//     position: relative;
//     @include font(500, 14px, 16px);
//     letter-spacing: 0.02em;
//     color: var(--color-title);
//     padding-top: 32px;
//     padding-bottom: 32px;
//     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

//     &:hover,
//     &:focus {
//             color: var(--color-in-action);
//         }
// }

// .contacts__link {
//     display: flex;
//     align-items: center;
//     @include font(500, 14px, 16px);
//     letter-spacing: 0.02em;
//     color: var(--color-text);
//     padding-top: 32px;
//     padding-bottom: 32px;
//     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

//     &:hover,
//     &:focus {
//             color: var(--color-in-action);
//         }
// }

// .navigation-list__link_active {
//     color: var(--color-in-action);
//     &::after {
//             content: '';
//             position: absolute;
//             display: block;
//             width: 100%;
//             height: 4px;
//             left: 0;
//             bottom: -1px;
//             background: var(--color-in-action);
//             border-radius: 2px;
//         }
// }

// .contacts__icon {
//     fill: var(--color-text);
//     margin-right: 10px;
//     transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

//     .contacts__link:hover &,
//         .contacts__link:focus & {
//             fill: var(--color-in-action);
//         }
// }

