// .logo {
//     font-family: 'Raleway', sans-serif;
//     font-weight: 700;
//     font-size: 26px;
//     line-height: 1.19;
//     letter-spacing: 0.03em;
//     color: var(--color-in-action);

//     display: block;
// }

// .logo__dark {
//     color: var(--color-dark);
// }

// .logo__light {
//     color: var(--color-light);
// }

// .page-header__logo {
//     margin-right: 90px;
//     padding-top: 24px;
//     padding-bottom: 25px;
// }

// .footer__logo {
//     margin-bottom: 20px;
// }