.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.section_mobile-hidden {
  display: none;
}

.section__title {
  @include font(700, 28px, 33px);
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .section_mobile-hidden {
    display: block;
  }
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .section_non-padding-top {
    padding-top: 0;
  }

  .section__title {
    @include font(700, 36px, 42px);
    margin-bottom: 50px;
  }
}
