:root {
    --primary-font: 'Roboto', sans-serif;
    --color-in-action: #2196f3;
    --color-title: #212121;
    --color-text: #757575;
    --color-dark: #000000;
    --color-light: #ffffff;
    --background-darc: #2f303a;
    --background-light: #f5f4fa;
    --address-link: rgba(255, 255, 255, 0.6);
}